<!DOCTYPE html>
<html>
    <head>
        <title>Abel's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Abel's Blog</a></h1>
        </header>
        <article>
            <time>published: 29.09.2023, 11:50</time>
            <h2><a href="">My first Post</a></h2>
            <p>ድህነት የሚለው ተመሳሳይ ነው ፍላጎት, መከራ ያ እጥረት ፣ እና "ድሃ" ከሚለው ቅፅል የተገኘ ሲሆን ይህ ደግሞ በተራው ከላቲን ነው ድሃ, pauperēris፣ ትርጉሙም ‹ድሃ› ፣ ‹ጥቂት ያፈራል› ማለት ነው ፡፡</p>
        </article>
        <article>
            <time>published: 29.09.2023, 11:50</time>
            <h2><a href="">My Second Post</a></h2>
            <p>ውስጥ ይገኛል የድህነት ሁኔታ ለህይወት አቅርቦትና ልማት መሰረታዊ አስፈላጊ ሀብቶች የሌሉት ፡፡ ተብሎም ይታወቃል የድህነት ስእለት ህዝባዊ እና በፈቃደኝነት የሃይማኖታዊ ቃል የራሳቸውን እና ሁሉንም መውደዳቸው አስፈላጊ ነው ብለው የሚያስቡትን ሁሉ ለመተው ፡፡ ደግሞም እንደ ድህነት ድፍረትን ፣ መብራቶችን ፣ ሀሳቦችን ፣ በጎነትን ፣ ድፍረትን ወይም ጉልበትን ማጣት ታውቋል ፡፡</p>
        </article>        
     <!--<p>Hi there!</p>
        <p>It works!</p>-->
    </body>
</html>